CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

SUPABASE_URL=https://your-supabase-url
SUPABASE_KEY=your-supabase-key
JWT_SECRET=your-jwt-secret

REDIS_URL=redis://your-redis-url:port

MEILI_HOST=http://your-meili-host:7700
MEILI_API_KEY=your-meili-api-key
